@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #fff;
  font-family: 'Bebas Neue', cursive;
}

.back-flow{
  background: radial-gradient(70.01% 70.01% at 50% 50%, #FFCC00 51%, #FFAA00 89%);
}

.card-flow{
  background: #f8d664;
  border-radius: 40px;
}

.text-style{
  font-family: 'Tangerine';
}

.footer-right{
  transform: rotate(-15deg);
}

.footer-left{
  transform: rotate(15deg);
}

.footer-radius{
  border-radius: 10px;
  background-color: #FFC001;
}